*, *::after, *::before {
  box-sizing: border-box;
}

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  padding: 0 5%;
  font-family: 'Muli', sans-serif;
  font-weight: 300;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}


a {
  color: #F44336;
  text-decoration: none;
  font-weight: 300;
}

a:hover {
  text-decoration: underline;
}

a.tooltip::before {
  content: attr(data-tip);
  position: absolute;
  top: -2.5rem;
  right: -2.5rem;
  padding: .3rem .5rem;
  z-index: 1;
  background: #F44336;
  font-size: 1rem;
  color: #ffffff;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}

a.tooltip:hover::before {
  opacity: 1;
  top: -2.5rem;
}

main > h1 {
  max-width: 50vw;
  margin: 20vh 0 0 0;
  color: #F44336;
  font-family: 'News Cycle', sans-serif;
  font-size: 4rem;
  font-weight: 700;
}

main > p {
  max-width: 80vw;
  margin: 0 0 0 2rem;
  border-left: 7px solid #efefef;
  padding: 1rem 0 0 1.5rem;
  font-size: 3rem;
  color: #121212;
  font-weight: 300;
}

aside.social ul {
  width: 50vw;
  margin: 10vh auto 4rem auto;
  padding: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

aside.social ul li {
  margin: 0 10%;
  position: relative;
}

aside.social ul li a {
  color: #121212;
  transition: color .2s;
}

aside.social ul li a:hover {
  color: #F44336;
}

aside.social ul li .feather {
  width: 48px;
  height: 48px;
  stroke-width: 1;
}

@media only screen and (max-width: 540px) {
  main > h1 {
    max-width: 80vw;
    margin: 2rem 0 0 0;
    font-size: 2.5rem;
  }
  main > p {
    border: none;
    padding: 0;
    margin: 2rem 0 0 0;
    font-size: 1.5rem;
  }
  aside.social ul li .feather {
    width: 32px;
    height: 32px;
  }
  aside.social ul {
    margin: 3rem auto 2rem auto;
  }
}

@media only screen and (max-width: 860px) and (min-width: 541px) {
  main > h1 {
    max-width: 80vw;
    margin: 4rem 0 0 0;
    font-size: 3rem;
  }
  main > p {
    font-size: 2rem;
  }
}
